<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="https://media.istockphoto.com/vectors/welcome-word-hand-lettering-design-vector-id1225374490?k=20&m=1225374490&s=612x612&w=0&h=TN_030sUwIPa2awYvhv4kmCXLke3q2NO2nqZQsLzS8Y=" alt="" height="250px">
  <h1 class="display-5 fw-bold">Entra al Login</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Da click al boton</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" (click)="login()" class="btn btn-primary btn-lg px-4 gap-3">Login</button>
    </div>
  </div>
</div>